{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block content %}

<style>
    .control-label {
    color: white;
  }
  
  .form-control {
    margin-bottom:20px;
    padding: 30px
  }
</style>

<div class="container-fluid mainBanner">

    <h1 class="display-2 text-center" style="color:white">Trade Center</h1>

    <form method="POST" action="/mm-register/">
        {% csrf_token %}
        {{ form|bootstrap }}
    
        <input class="btn btn-primary btn-block" type="submit" value="Create" style="padding: 20px; font-size: 20px">
    </form>
    
</div>

<script>
        var input_field = document.getElementById('the_id');
   
        input_field.addEventListener('change', function() {
            
            var v = parseFloat(this.value);
            if (isNaN(v)) {
                this.value = '';
            } else {
                this.value = v.toFixed(8);
            }
        });
   </script>
{% endblock %}